html[data-theme="light"] .beoe-dark {
  display: none;
}

html[data-theme="dark"] .beoe-light {
  display: none;
}

.column-list {
  column-width: calc(var(--sl-content-width) / 2 - 1.5rem);

  ul {
    padding: 0;
    list-style: none;
    margin-top: 0 !important;
  }
}

@media (min-width: 72rem) {
  .sl-container {
    margin-inline: var(--sl-content-margin-inline, 0) !important;
  }
}
